#title{
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 30px;
  font-weight: bolder;
  font-size: 18px;
}
#title>.ipt{
  position: absolute;
  top: 0px;
  left:80px;
  height: 30px;
  background: none;
  border: none;
  line-height: 30px;
  outline: none;
}
#title>.ipt:focus{
  outline: none;
}
#div3 {
  width:1000px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
#text1{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
#btn1{
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: none;
  outline: none;
  border: 2px solid #aaa;
  background: #aaa;
  cursor: pointer;
  color: #fff;
}
#btn1:hover{
opacity: .8;
}