body{
  background-color: #aaa;
}
#wrap {
  position: relative;
  width: 1200px;
  margin: 15px auto;
  background-color: #fff;
}

#wrap>ul {
  width: 100px;
  height: 300px;
  border-right: 1px solid #aaa;
}

#wrap .con-list {
  position: relative;
  width: 100px;
  height: 50px;
  border-bottom: 1px solid #aaa;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: .2s;
}
#wrap .con-list:hover {
 background-color: rgba(240,50,50,.5);
}
#wrap .con-list>.iconfont {
  font-size: 24px;
  vertical-align: middle;
}

#wrap .con-list>span {
  line-height: 50px;
  vertical-align: middle;
}

#wrap .cont {
  display: none;
  position: absolute;
  width: 1100px;
  height: 550px;
  background-color: #fff;
  top: 0px;
  left: 102px;
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#wrap .cont.show {
  display: block;
}

#wrap .cont .cont-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #aaa;
}

#wrap .cont .cont-title .cont-txt {
  font-size: 22px;
  font-weight: bold;
}

.cont-img {
  float: left;
  text-align: center;

  margin-right: 20px;
  cursor: pointer;
}

.cont-img>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 16px auto 0;
}

.cont-img>.cont-img-update {
  font-size: 16px;
  color: #3399ea;
  margin-top: 8px;
  cursor: pointer;
}

.cont-id {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.cont-id .id-name {
  font-size: 18px;
  margin-right: 16px;
  margin-top: 20px;
}

.cont-info {
  margin: 5px 0 0  120px;
  padding-bottom:10px ;
  border-bottom: 1px solid #aaa;
}
.cont-info span {
  font-size: 16px;
}
.update{
  display: block;
  width: 65px;
  height: 25px;
  padding: 0 2px;
  border: none;
  background: none;
  border: 1px solid #333;
  cursor: pointer;
}
.update:hover {
  border-color: #aaa;
  color: #aaa;
}
.cont-msg{
  padding-left: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  outline: none;
  user-select: none;
}
.cont-edit{
 display: inline-block;
 width: 200px;
 height: 30px;
 line-height: 30px;
 outline: none;
}
button[type="submit"]{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  background: #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.collect{
  position: relative;
}
.collect::after{
  position: absolute;
  content: "";
  top: 57px;
  left: 0px;
  width: 110px;
  height: 5px;
  background-color: red;
}
.cont-num{
  font-size: 14px;
}
